<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.pochi.mapper.ShopCouponCategoryMapper">
    <resultMap id="BaseResultMap" type="com.demo.pochi.pojo.ShopCouponCategory">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="coupon_id" property="couponId"/>
    </resultMap>
    <insert id="saveBatch">
        insert into shop_coupon_category( coupon_id, category_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.couponId}, #{item.categoryId})
        </foreach>
    </insert>



</mapper>