<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.pochi.mapper.ShopUserMapper">
    <resultMap id="BaseResultMap" type="com.demo.pochi.pojo.ShopUser">
        <id column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="status" property="status"/>
        <result column="header" property="header"/>
        <result column="gender" property="gender"/>
        <result column="note" property="note"/>
        <result column="openid" property="openId"/>
        <result column="point" property="point"/>
        <result column="history_point" property="historyPoint"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <insert id="save">
        insert into shop_user(id, phone, password, nickname, header, gender, note, openid)
        values (#{id}, #{phone}, #{password}, #{nickname}, #{header}, #{gender}, #{note}, #{openId})
    </insert>
    <update id="updateLoginInfo">
        update shop_user
        <set>
            <if test="phone！=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
             <if test="openId!=null and openId!=''">
                 openid=#{openId},
            </if>
        </set>
        where id=#{id}

    </update>
    <select id="getByOpenId" resultMap="BaseResultMap">
        select id,
               phone,
               nickname,
               status,
               header,
               gender,
               note,
               openid,
               point,
               history_point
        from shop_user
        where deleted = 0
          and status = 1
          and openid = #{openId}
    </select>
    <select id="getByPhone" resultMap="BaseResultMap">
        select id,
               phone,
               nickname,
               status,
               header,
               gender,
               note,
               openid,
               point,
               history_point
        from shop_user
        where deleted = 0
          and status = 1
          and phone = #{phone}
    </select>


</mapper>